Data/*
Data.7z
*.ipynb
!rename.ipynb
logs/
!pre_process_data.ipynb
*.exe
!results_analyzer.ipynb
Encodings/
Page Rank Results.7z
*.hpp
Forward Index/forward_index_html_files.json
Forward Index/forward_index_pdf_files.json
!cord_19_map_gen.ipynb
page_rank_results_with_urls.csv
Forward Index.7z
Inverted Index/

# Ignore all data files except sample test files
Data/*
!Data/Files/
Data/Files/*
!Data/Files/raw/
Data/Files/raw/*
!Data/Files/raw/sample/
!Data/Cord 19/
Data/Cord 19/*
!Data/Cord 19/metadata_cleaned.csv
!Data/Cord 19/document_parses/
Data/Cord 19/document_parses/*
!Data/Cord 19/document_parses/pdf_json/
Data/Cord 19/document_parses/pdf_json/*
!Data/Cord 19/document_parses/pdf_json/sample/
!Data/ind_to_url.json